body {
    font-family: 'Arial', sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    margin-top: 200px;
    width: 500px;
    height: 400px;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 0;
    font-size: 18px;
    border: none;
    outline: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6e6e6;
}

button.zero {
    grid-column: span 2;
}

button.operator {
    background-color: #f1c40f;
}

button.operator:hover {
    background-color: #d4ac0d;
}



